.footer__column-link {
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    transition: 0.5s linear; 
  }

  .footer__column-link:hover {
    opacity: 0.5;
   }