.cards__description {
    text-align: center;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}